
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mt-3" routerLink="add">
        Add Project
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author Id</th>
            <th>Team Id</th>
            <th>Created at</th>
            <th>Deadline</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let _project of projects">
            <td>{{_project.id}}</td>
            <td>{{_project.name}}</td>
            <td>{{_project.description}}</td>
            <td>{{_project.authorId}}</td>
            <td>{{_project.teamId}}</td>
            <td>{{_project.createdAt | uaDate}}</td>
            <td>{{_project.deadline | uaDate}}</td>
            <td>
                <button class="btn btn-light" [routerLink]="['/projects/update/', _project.id]">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger"(click)="deleteProject(_project.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
