<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mt-3" routerLink="add">
        Add Task
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Project Id</th>
            <th>Performer Id</th>
            <th>State</th>
            <th>Created At</th>
            <th>finished At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let _task of tasks">
            <td>{{_task.id}}</td>
            <td>{{_task.name}}</td>
            <td>{{_task.description}}</td>
            <td>{{_task.projectId}}</td>
            <td>{{_task.performerId}}</td>
            <td>{{_task.state}}</td>
            <td>{{_task.createdAt | uaDate}}</td>
            <td>{{_task.finishedAt | uaDate}}</td>
            <td>
                <button class="btn btn-light" [routerLink]="['/tasks/update/', _task.id]">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger"(click)="deleteTask(_task.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

