<div class="container">

    <h3 class="d-flex justify-content-center">Ivanitskyi Angular App</h3>

    <nav class="navbar navbar-expand-sm bg-light d-flex justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="projects" class="m-1 btn btn-light btn-outline-primary" Button>Projects</button>
            </li>

            <li class="nav-item">
                <button routerLink="teams" class="m-1 btn btn-light btn-outline-primary" Button>Teams</button>
            </li>

            <li class="nav-item">
                <button routerLink="tasks" class="m-1 btn btn-light btn-outline-primary" Button>Tasks</button>
            </li>

            <li class="nav-item">
                <button routerLink="users" class="m-1 btn btn-light btn-outline-primary" Button>Users</button>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
