
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mt-3" routerLink="add">
        Add Team
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let _team of teams">
            <td>{{_team.id}}</td>
            <td>{{_team.name}}</td>
            <td>{{_team.createdAt | uaDate}}</td>
            <td>
                <button class="btn btn-light" [routerLink]="['/teams/update/', _team.id]">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteTeam(_team.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


