<div class="header">
    <h3 class="d-flex justify-content-center mt-4">Add Task</h3>
</div>
<div class="container mt-4">
    <form class="form-group" (ngSubmit)="addTask(addTaskForm.value)" [formGroup]="addTaskForm">

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Name</label>
            <input class="col-sm-7" type="text" [(ngModel)]="task.name" formControlName="name">
            <div class="col-sm-3">
                <small *ngIf="addTaskForm.get('name')?.errors!" class="text-danger">
                    Name must be at least 4 characters long.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Description</label>
            <input class="col-sm-7" type="text" [(ngModel)]="task.description" formControlName="description">
            <div class="col-sm-3">
                <small *ngIf="addTaskForm.get('description')?.errors!" class="text-danger">
                    Description must be at least 4 characters long.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Project Id</label>
            <input class="col-sm-7" type="number" [(ngModel)]="task.projectId" formControlName="projectId">
            <div class="col-sm-3">
                <small *ngIf="addTaskForm.get('projectId')?.errors!" class="text-danger">
                    Project Id is a required property.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Performer Id</label>
            <input class="col-sm-7" type="number" [(ngModel)]="task.performerId" formControlName="performerId">
            <div class="col-sm-3">
                <small *ngIf="addTaskForm.get('performerId')?.errors!" class="text-danger">
                    Performer Id is a required property.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">State</label>
            <input class="col-sm-7" type="number" [(ngModel)]="task.state" formControlName="state">
            <div class="col-sm-3">
                <small *ngIf="addTaskForm.get('state')?.errors!" class="text-danger">
                    Performer Id is a required property.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Created at</label>
            <input class="col-sm-7" type="date" [(ngModel)]="task.createdAt" formControlName="createdAt">
            <div class="col-sm-3">
                <small *ngIf="addTaskForm.get('createdAt')?.errors!" class="text-danger">
                    Performer Id is a required property.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Finished At</label>
            <input class="col-sm-7" type="date" [(ngModel)]="task.finishedAt" formControlName="finishedAt">
        </div>
    
        
    
        <div class="btn-box d-flex justify-content-center">
            <button class="btn btn-primary m-2" type="submit" [disabled]="addTaskForm.invalid" >Add Task</button>
        </div>
    
    </form>
</div>





