
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mt-3" routerLink="add">
        Add User
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Team Id</th>
            <th>Registered at</th>
            <th>Birthday</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let _user of users">
            <td>{{_user.id}}</td>
            <td>{{_user.firstName}}</td>
            <td>{{_user.lastName}}</td>
            <td>{{_user.email}}</td>
            <td>{{_user.teamId}}</td>
            <td>{{_user.registeredAt | uaDate}}</td>
            <td>{{_user.birthDay | uaDate}}</td>
            <td>
                <button class="btn btn-light" [routerLink]="['/users/update/',_user.id]">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteUser(_user.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


