<div class="header">
    <h3 class="d-flex justify-content-center mt-4">Update Project</h3>
</div>
<div class="container mt-4">
    <form class="form-group" (ngSubmit)="updateProject(editProjectForm.value)" [formGroup]="editProjectForm">

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label text-success">Name</label>
            <input class="col-sm-7" type="text" [(ngModel)]="project.name" formControlName="name">
            <div class="col-sm-3">
                <small *ngIf="editProjectForm.get('name')?.errors!" class="text-danger">
                    Name must be at least 4 characters long.
                </small>
            </div>
        </div>
    
        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Description</label>
            <input class="col-sm-7" type="text" [(ngModel)]="project.description" formControlName="description">
            <div class="col-sm-3">
                <small *ngIf="editProjectForm.get('description')?.errors!" class="text-danger">
                    Description must be at least 4 characters long.
                </small>
            </div>
        </div>
        
        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Author Id</label>
            <input class="col-sm-7" type="number" [(ngModel)]="project.authorId" formControlName="authorId">
            <div class="col-sm-3">
                <small *ngIf="editProjectForm.get('authorId')?.errors!" class="text-danger">
                    Author id is required property!
                </small>
            </div>
        </div>
    
        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Team Id</label>
            <input class="col-sm-7" type="number" [(ngModel)]="project.teamId" formControlName="teamId">
            <div class="col-sm-3">
                <small *ngIf="editProjectForm.get('teamId')?.errors!" class="text-danger">
                    Team id is required property!
                </small>
            </div>
        </div>
    
        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Created at</label>
            <input class="col-sm-7" type="date" [(ngModel)]="project.createdAt" formControlName="createdAt">
            <div class="col-sm-3">
                <small *ngIf="editProjectForm.get('createdAt')?.errors!" class="text-danger">
                    Created at is required property!
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Deadline</label>
            <input class="col-sm-7" type="date" [(ngModel)]="project.deadline" formControlName="deadline">
            <div class="col-sm-3">
                <small *ngIf="editProjectForm.get('deadline')?.errors!" class="text-danger">
                    Deadline is required property!
                </small>
            </div>
        </div>
    
        <div class="btn-box d-flex justify-content-center">
            <button class="btn btn-primary m-2" type="submit" [disabled]="editProjectForm.invalid" >Update Project</button>
        </div>
    
    </form>
</div>




