<div class="header">
    <h3 class="d-flex justify-content-center mt-4">Update User</h3>
</div>
<div class="container mt-4">
    <form class="form-group" (ngSubmit)="updateUser(editUserForm.value)" [formGroup]="editUserForm">

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">First name</label>
            <input class="col-sm-7" type="text" [(ngModel)]="user.firstName" formControlName="firstName">
            <div class="col-sm-3">
                <small *ngIf="editUserForm.get('firstName')?.errors!" class="text-danger">
                    First name must be at least 2 characters long.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Last name</label>
            <input class="col-sm-7" type="text" [(ngModel)]="user.lastName" formControlName="lastName">
            <div class="col-sm-3">
                <small *ngIf="editUserForm.get('lastName')?.errors!" class="text-danger">
                    Last name must be at least 2 characters long.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Email</label>
            <input class="col-sm-7" type="text" [(ngModel)]="user.email" formControlName="email">
            <div class="col-sm-3">
                <small *ngIf="editUserForm.get('email')?.errors!" class="text-danger">
                    Email is a required property.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Team Id</label>
            <input class="col-sm-7" type="number" [(ngModel)]="user.teamId" formControlName="teamId">
            <div class="col-sm-3">
                <small *ngIf="editUserForm.get('teamId')?.errors!" class="text-danger">
                    Team Id is a required property.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Registered at</label>
            <input class="col-sm-7" type="date" [(ngModel)]="user.registeredAt" formControlName="registeredAt">
            <div class="col-sm-3">
                <small *ngIf="editUserForm.get('registeredAt')?.errors!" class="text-danger">
                    Registered at is a required property.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Birthday</label>
            <input class="col-sm-7" type="date" [(ngModel)]="user.birthDay" formControlName="birthDay">
            <div class="col-sm-3">
                <small *ngIf="editUserForm.get('birthDay')?.errors!" class="text-danger">
                    Birthday is a required property.
                </small>
            </div>
        </div>
        
    
        <div class="btn-box d-flex justify-content-center">
            <button class="btn btn-primary m-2" type="submit" [disabled]="editUserForm.invalid" >Update User</button>
        </div>
    
    </form>
</div>




