<div class="header">
    <h3 class="d-flex justify-content-center mt-4">Add Team</h3>
</div>
<div class="container mt-4">
    <form class="form-group" (ngSubmit)="addTeam(addTeamForm.value)" [formGroup]="addTeamForm">

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Name</label>
            <input class="col-sm-7" type="text" [(ngModel)]="team.name" formControlName="name">
            <div class="col-sm-3">
                <small *ngIf="addTeamForm.get('name')?.errors!" class="text-danger">
                    Name must be at least 4 characters long.
                </small>
            </div>
        </div>

        <div class="form-group row m-3">
            <label class="col-sm-2 col-form-label">Created At</label>
            <input class="col-sm-7" type="date" [(ngModel)]="team.createdAt" formControlName="createdAt">
            <div class="col-sm-3">
                <small *ngIf="addTeamForm.get('createdAt')?.errors!" class="text-danger">
                    Created at is a required property.
                </small>
            </div>
        </div>
        

    
        
    
        <div class="btn-box d-flex justify-content-center">
            <button class="btn btn-primary m-2" type="submit" [disabled]="addTeamForm.invalid" >Add Team</button>
        </div>
    
    </form>
</div>




